*{
    box-sizing: border-box;
  }
  body{
    background-color: #a0a398;
    /* #9b59b6 */
    font-family:sans-serif;
  }
  
  .container{
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
  }
  
  .header h2{
    margin: 0;
  }
  
  .form{
    padding: 30px 40px;
    background-color: lightgray;
  }
  
  .form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control label{
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .form-control input, .form-control textarea, .form-control select{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  
  .form i{
    position: absolute;
    top: 32px;
    right: 10px;
    visibility: hidden;
}
.form small{
    position: absolute;
    bottom: 0px;
    left: 5px;
    visibility: hidden; 
}
#submit{
    background-color: #9658b1;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    outline: none;
}
  #submit:hover{
    background-color: #178be9;
    color: #f0f0f0;
  }
  
  ul{
    margin: 0;
    padding: 0;
  }
  ul li{
    position: relative;
    list-style-type: none;
    cursor: pointer;
    padding: 10px 6px 10px 30px;
    transition: 0.3s;
  
    /* Making list unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h1{
      text-align: center;
      font-size: 20px;
      text-transform: uppercase; 
  }
  .done{
    background-color: rgb(67, 184, 67);
    color: white;
    font-size: 10px;
  }

  .inprogress{
    background-color: #178be9;
    color: black;
    font-size: 10px;
  }
  .pending{
    background-color: orange;
    color: black;
    font-size: 10px;
  }
  .main{
      background-color: lightgray;
  }
  #del{
    color: #ff0000;
    border-color: #ff0000;
  } 
  #markAsDone{
    color: #008000;
    border-color: #008000;
  }
  #del, #markAsDone{
    font-size: 14px;
    display: inline-block;
  }
  #markAsDone:hover{
    background-color: #008000;
    color: #fff;
  }
  #del:hover{
    background-color: #ff0000;
    color: #fff;
  }
  .done_btn{
    visibility: hidden;
  }
  .nav-link{
  /* background-color:#7a6089; */
  font-size: 16px;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 6px 10px 30px;
  border-radius: 5px;
  text-align: center;
 }

 .nav-link:hover{
	font-weight: 600;
	border-bottom: 1px solid #fff;
	font-size: 18px;

}
.tasksHeader{
  border: green;
  background-color:#f0f0f0;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}
.table{
  background-color: #f0f0f0;
}
.navbar-brand{
  border-radius: 60px;
}